/*
 * @Author: czy0729
 * @Date: 2019-06-18 16:17:39
 * @Last Modified by:   czy0729
 * @Last Modified time: 2019-06-18 16:17:39
 */
@import '@styles/theme.scss';

.c-tag {
  padding: 9px 30px;
  background-color: $color-plain;
  border: 1px solid $color-border;
  border-radius: 60px;
}
