/*
 * @Author: czy0729
 * @Date: 2019-07-17 16:10:39
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-17 18:08:41
 */
@import '@styles/theme';
@import '@styles/mixins';

.page-user__menu {
  padding: 20px 0;
  margin: -100px $wind 0;
  background-color: $color-plain;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);

  &__item {
    width: 25%;
    padding: 20px 0;
    @include active();
  }
}
