/*
 * @Author: czy0729
 * @Date: 2019-08-06 16:20:17
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-08-08 15:41:25
 */
.page-photo-edit__photos {
  position: relative;

  &__item {
    display: flex;
    align-items: center;
  }
  &__text {
    position: absolute;
    z-index: 10;
    right: 50%;
    bottom: 192px;
    min-width: 58px;
    padding: 0 24px;
    text-align: center;
    border-radius: 40px;
    transform: translateX(50%);
    pointer-events: none;
  }
  &__tags {
    width: 100%;
  }
  &__wrap-tag {
    width: auto;
  }
}
