/*
 * @Author: czy0729
 * @Date: 2019-07-18 11:33:54
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-19 14:48:33
 */
@import '@styles/theme.scss';

.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;

  // type
  &--default {
    background: $color-plain;
    border-color: $color-border;
  }
  &--danger {
    background: $color-danger;
    border-color: $color-danger;
  }

  // type ghost
  &--ghost {
    background: transparent;
    border-color: $color-plain;

    &-plain {
      background: transparent;
      border-color: $color-plain;
    }
    &-danger {
      background: transparent;
      border-color: $color-danger;
    }
  }

  &--mini {
    min-width: 112px;
    padding: 0 16px;
  }

  &--shadow {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  }

  &--round {
    border-radius: 100px;
  }

  &__text {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;

    &--default {
      color: $color-sub;
    }
    &--danger {
      color: $color-plain;
    }

    &--ghost {
      color: $color-plain;

      &-plain {
        color: $color-plain;
      }
      &-danger {
        color: $color-danger;
      }
    }

    &--mini {
      padding: 0;
      font-size: 26px;
      line-height: 48px;
    }
    &--medium {
      font-size: 24px;
      line-height: 56px;
    }
  }
}
