/*
 * @Author: czy0729
 * @Date: 2019-06-18 16:17:35
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-19 14:33:34
 */
@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.c-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 56px;
  left: $wind;
  height: 62px;
  width: 62px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 62px;
  overflow: hidden;
}
