/*
 * @Author: czy0729
 * @Date: 2019-06-17 17:06:55
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-08-05 14:50:39
 */
@import '@styles/theme';

.c-swiper {
  position: relative;

  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  &__text {
    position: absolute;
    z-index: 1;
    right: 32px;
    bottom: 32px;
    min-width: 58px;
    padding: 0 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 40px;
  }
}
