/*
 * @Author: czy0729
 * @Date: 2019-09-09 10:08:23
 * @Last Modified by:   czy0729
 * @Last Modified time: 2019-09-09 10:08:23
 */
@import '@styles/theme';

.c-activity-indicator {
  display: flex;
  justify-content: center;
  height: 144px;
  padding-bottom: $lg;
}
