/*
 * @Author: czy0729
 * @Date: 2019-07-20 17:40:58
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-22 10:22:15
 */
@import '@styles/theme';
@import '@styles/mixins';

.c-app-fixed-bar {
  position: fixed !important;
  z-index: 10000;
  right: 0;
  bottom: 0;
  left: 0;
  height: 98px;
  padding: 0 8px 0 32px;
  margin-bottom: -1px;
  background-color: $color-plain;
  @include hairline-top();

  &__placeholder {
    height: 64px;
    padding: 16px 32px;
    background-color: $color-bg;
    border-radius: 64px;
  }
  &__btn {
    padding: 24px;
  }
}
