/*
 * @Author: czy0729
 * @Date: 2019-07-20 17:40:58
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-20 17:47:06
 */
@import '@styles/theme';
@import '@styles/mixins';

.c-app-fixed-bar {
  position: fixed !important;
  z-index: 10000;
  right: 0;
  bottom: 0;
  left: 0;
  height: 98px;
  margin-bottom: -1px;
  background-color: $color-plain;
  @include hairline-top();
}
