/*
 * @Author: czy0729
 * @Date: 2019-07-19 16:46:36
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-19 16:49:33
 */
.page-zone {
  .at-tabs__header {
    justify-content: center;
  }
  .at-tabs__item {
    padding: 10px 56px;
  }
  .at-tabs__item-underline {
    margin-left: 56px;
  }
}
