/*
 * @Author: czy0729
 * @Date: 2019-08-08 15:34:19
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-08-08 15:48:09
 */
@import '@styles/theme';

.page-photo-edit__tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;

  &__dot {
    position: relative;
    width: 40px;
    height: 40px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      background-color: $color-danger;
      border: 2px solid $color-plain;
      border-radius: 12px;
      opacity: 0.8;
      transform: translate(-50%, -50%);
    }
  }
  &__angle {
    width: 12px;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
    transform: rotate(90deg);
  }
  &__text {
    position: relative;
    height: 40px;
    padding: 0 16px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
  &__del {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: -46px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }

  &--reverse {
    flex-direction: row-reverse;
  }
  &--reverse &__angle {
    margin-left: 0;
    margin-right: -12px;
    border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
  }
  &--reverse &__del {
    right: initial;
    left: 0;
    margin-right: 0;
    margin-left: -46px;
  }
}
