/*
 * @Author: czy0729
 * @Date: 2019-07-17 14:45:31
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-30 16:25:25
 */
@import '@styles/theme';

.page-user__header {
  padding: $status-bar $wind 136px;
  background-color: rgba(211, 199, 159, 1);
  background-image: url('../../../assets/common/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__header {
    height: $header;
  }
  &__split {
    position: relative;
    height: 40px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.8);
      transform: scale(0.5, 1);
      transform-origin: center top;
    }
  }
  &__extra {
    color: rgba(255, 255, 255, 0.8);
  }
}
