/*
 * @Author: czy0729
 * @Date: 2019-07-25 09:45:09
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-25 09:51:29
 */
@import '@styles/theme';

.c-app-video-mask {
  position: relative;

  &__mask {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: $radius-sm;
  }
}
