/*
 * @Author: czy0729
 * @Date: 2019-08-23 13:57:34
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-08-23 14:01:16
 */
.page-auth {
  background-color: rgb(249, 250, 251);

  &__btns {
    width: 436px;
    margin: 96px auto;
  }
}
