/*
 * @Author: czy0729
 * @Date: 2019-06-18 09:45:36
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-06-19 10:59:25
 */
@import '@styles/theme';
@import '@styles/mixins';

.c-image--h5 {
  /*postcss-pxtransform rn eject enable*/
  @include eject(vertical-align, top);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-placeholder;

  img {
    display: none;
  }
  /*postcss-pxtransform rn eject disable*/
}
