/*
 * @Author: czy0729
 * @Date: 2019-06-13 10:33:48
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-30 13:55:54
 */
@import '@styles/theme';
@import '@styles/mixins';

.c-input {
  font-size: 30px;
  color: $color-title;
  line-height: 48px;
}
