/*
 * @Author: czy0729
 * @Date: 2019-07-31 15:34:35
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-31 16:55:33
 */
.c-wx-cropper {
  &__toolbar {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 50%;
  }
  &__toolbar-item {
    padding: 40px 0;
  }
}
