/*
 * @Author: czy0729
 * @Date: 2019-06-10 12:09:07
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-06-18 15:08:12
 */
@import './theme.scss';
@import './mixins.scss';

// layout
.layout-screen {
  flex: 1;
  background-color: $color-bg;
}
.layout-outer {
  padding-top: $space;
  padding-right: $wind;
  padding-bottom: $bottom;
  padding-left: $wind;
}
.layout-inner {
  padding: $space $wind;
}
.layout-wind {
  padding-right: $wind;
  padding-left: $wind;
}

// flex
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.flex-item {
  flex: 1;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

// margin-top
.mt-wind {
  margin-top: $wind;
}
.mt-d {
  margin-top: $distance;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

// margin-left
.ml-wind {
  margin-left: $wind;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-28 {
  margin-left: 28px;
}

// margin-right 能用left的不要用right
.mr-30 {
  margin-right: 30px;
}

// text
.t-plain {
  color: $color-plain;
}
.t-desc {
  color: $color-desc;
}
.t-sub {
  color: $color-sub;
}
.t-link {
  color: $color-link;
}

.t-20 {
  @include font-size(20px);
}
.t-28 {
  @include font-size(28px);
}
.t-30 {
  @include font-size(30px);
}
.t-32 {
  @include font-size(32px);
}
.t-36 {
  @include font-size(36px);
}
.t-44 {
  @include font-size(44px);
}

.t-c {
  text-align: center;
}
.t-b {
  font-weight: bold;
}

.t-c1 {
  @include lamp-clamp(1);
}
.t-c2 {
  @include lamp-clamp(2);
}

// line-height
.l-24 {
  line-height: 24px;
}
.l-32 {
  line-height: 32px;
}
.l-36 {
  line-height: 36px;
}
.l-40 {
  line-height: 40px;
}
.l-42 {
  line-height: 42px;
}
.l-48 {
  line-height: 48px;
}
.l-50 {
  line-height: 50px;
}
.l-52 {
  line-height: 52px;
}
.l-60 {
  line-height: 60px;
}
