/*
 * @Author: czy0729
 * @Date: 2019-06-10 12:09:07
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-06-12 10:50:55
 */
@import './theme.scss';
@import './mixins.scss'; // layout

.layout-outer {
  padding-top: $space;
  padding-right: $wind;
  padding-bottom: $bottom;
  padding-left: $wind;
}
.layout-inner {
  padding: $space $wind;
}
.layout-wind {
  padding-right: $wind;
  padding-left: $wind;
}

// flex
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.flex-item {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

// margin-top
.mt-d {
  margin-top: $distance;
}
.mt-xs {
  margin-top: $xs;
}
.mt-sm {
  margin-top: $sm;
}
.mt-md {
  margin-top: $md;
}

// margin-left
.ml-xs {
  margin-left: $xs;
}
.ml-sm {
  margin-left: $sm;
}
.ml-md {
  margin-left: $md;
}

// margin-right 尽量少用
.mr-sm {
  margin-right: $sm;
}

// text
.t-c {
  text-align: center;
}
.t-b {
  font-weight: bold;
}
.t-plain {
  color: $color-plain;
}
.t-desc {
  color: $color-desc;
}
.t-sub {
  color: $color-sub;
}
.t-20 {
  @include font-size(20px);
}
.t-22 {
  @include font-size(22px);
}
.t-24 {
  @include font-size(24px);
}
.t-26 {
  @include font-size(26px);
}
.t-34 {
  @include font-size(34px);
}

.t-c1 {
  @include lamp-clamp(1);
}
.t-c2 {
  @include lamp-clamp(2);
}

.l-24 {
  line-height: 24px;
}
.l-30 {
  line-height: 30px;
}
.l-34 {
  line-height: 34px;
}
.l-38 {
  line-height: 38px;
}
.l-48 {
  line-height: 48px;
}
