/*
 * @Author: czy0729
 * @Date: 2019-06-10 12:09:07
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-20 17:23:38
 */
@import './theme.scss';
@import './mixins.scss';

// layout
.layout-screen {
  flex: 1;
  background-color: $color-bg;
}
.layout-bg {
  background-color: $color-bg;
}
.layout-outer {
  padding-top: $space;
  padding-right: $wind;
  padding-bottom: $bottom;
  padding-left: $wind;
}
.layout-inner {
  padding: $space $wind;
}
.layout-wind {
  padding-right: $wind;
  padding-left: $wind;
}

// flex
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.flex-item {
  flex: 1;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

// margin-top
.mt-wind {
  margin-top: $wind;
}
.mt-d {
  margin-top: $distance;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-64 {
  margin-top: 64px;
}

// margin-left
.ml-wind {
  margin-left: $wind;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-28 {
  margin-left: 28px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-56 {
  margin-left: 56px;
}

// margin-right 能用left的不要用right
.mr-16 {
  margin-right: 16px;
}
.mr-32 {
  margin-right: 32px;
}

// text
.t-c {
  text-align: center;
}
.t-r {
  text-align: right;
}
.t-b {
  font-weight: bold;
}

.t-c1 {
  @include lamp-clamp(1);
}
.t-c2 {
  @include lamp-clamp(2);
}

.t-plain {
  color: $color-plain;
}
.t-main {
  color: $color-main;
}
.t-warning {
  color: $color-warning;
}
.t-danger {
  color: $color-danger;
}
.t-desc {
  color: $color-desc;
}
.t-sub {
  color: $color-sub;
}
.t-default {
  color: $color-default;
}
.t-link {
  color: $color-link;
}

.t-20 {
  @include font-size(20px);
}
.t-22 {
  @include font-size(22px);
}
.t-24 {
  @include font-size(24px);
}
.t-26 {
  @include font-size(26px);
}
.t-28 {
  @include font-size(28px);
}
.t-30 {
  @include font-size(30px);
}
.t-32 {
  @include font-size(32px);
}
.t-34 {
  @include font-size(34px);
}
.t-36 {
  @include font-size(36px);
}
.t-40 {
  @include font-size(40px);
}
.t-44 {
  @include font-size(44px);
}
.t-48 {
  @include font-size(48px);
}
.t-52 {
  @include font-size(52px);
}

// line-height
.l-24 {
  line-height: 24px;
}
.l-32 {
  line-height: 32px;
}
.l-36 {
  line-height: 36px;
}
.l-40 {
  line-height: 40px;
}
.l-42 {
  line-height: 42px;
}
.l-44 {
  line-height: 44px;
}
.l-48 {
  line-height: 48px;
}
.l-50 {
  line-height: 50px;
}
.l-52 {
  line-height: 52px;
}
.l-56 {
  line-height: 56px;
}
.l-60 {
  line-height: 60px;
}
.l-68 {
  line-height: 68px;
}
.l-72 {
  line-height: 72px;
}

// border
.b-t,
.b-top {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-border;
    transform: scale(1, 0.5);
    transform-origin: center top;
  }
}
