/*
 * @Author: czy0729
 * @Date: 2019-07-24 14:50:51
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-24 18:31:56
 */
@import '@styles/theme';
@import '@styles/mixins';

.page-publish-article {
  padding: 0 $wind;

  &__cover {
    padding: 40px 0;
    @include hairline-bottom();
  }
  &__title {
    padding: 40px 0;
    margin-bottom: 40px;
    @include hairline-bottom();
  }
  &__fixed {
    position: fixed;
    z-index: 1;
    right: $wind;
    bottom: 32px;
    left: $wind;
  }
  &__btn {
    width: 120px;
  }
}
