@import '@styles/theme.scss';

.page-index__list {
  &__item {
    margin-bottom: $space;
  }
  &__image {
    width: 100%;
    background-color: $color-bg;
    border-radius: $radius-sm;
    overflow: hidden;
  }
}
