@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.page-search__search-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0 10px $wind;
  background-color: $color-plain;
  box-shadow: 0px 2px 4px 0px rgba(233, 233, 233, 0.5);

  &__input {
    height: 68px;
    padding: 0 $wind;
    font-size: 26px;
    background-color: $color-bg;
    border-radius: 64px;
  }
  &__cancel {
    padding: 0 $wind;
  }
}
