/*
 * @Author: czy0729
 * @Date: 2019-06-18 15:51:57
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-18 16:19:01
 */
@import '@styles/theme.scss';

.c-app-masonry-list__item {
  margin-bottom: 40px;

  &__image {
    width: 100%;
    background-color: $color-bg;
    border-radius: $radius-sm;
    overflow: hidden;
  }
}
