@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.page-index__collect {
  &__scroll-view {
    height: 168px;
    margin-top: 22px;
    @include eject(white-space, nowrap);
  }
  &__item {
    @include eject(position, relative);
    @include eject(display, inline-block);
    width: 250px;
    height: 168px;
    margin-right: 18px;
    border-radius: 8px;
    overflow: hidden;

    &--first {
      margin-left: $wind;
    }
    &--last {
      margin-right: $wind;
    }
  }
  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
