/*
 * @Author: czy0729
 * @Date: 2019-06-17 17:32:38
 * @Last Modified by:   czy0729
 * @Last Modified time: 2019-06-17 17:32:38
 */
@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.page-index__collect {
  &__scroll-view {
    @include eject(white-space, nowrap);
  }
  &__item {
    @include eject(position, relative);
    @include eject(display, inline-block);
    width: 270px;
    height: 180px;
    border-radius: $radius-sm;
    overflow: hidden;

    &--first {
      margin-left: $wind;
    }
    &--last {
      margin-right: $wind;
    }
  }
  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
