/*
 * @Author: czy0729
 * @Date: 2019-06-12 14:14:45
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-30 14:43:24
 */
@import '@styles/theme';
@import '@styles/mixins';

.at-tabs {
  &__item {
    flex: initial;
    padding: 10px 30px;
    font-size: 36px;
    font-weight: 400;
    line-height: 68px;
    color: $color-sub;

    &--active {
      font-weight: 500;
      color: $color-title;
    }
  }
  &__item-underline {
    width: 70px;
    height: 6px;
    margin-left: 30px;
    background-color: $color-title;
  }
  &__underline {
    display: none;
  }
}
