/*
 * @Author: czy0729
 * @Date: 2019-07-18 18:17:43
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-19 10:57:23
 */
@import '@styles/theme';
@import '@styles/mixins';

.page-new-favor {
  &__container {
    padding: 56px $wind $bottom;
  }
  &__ipt {
    padding: 32px 0;
    @include hairline-bottom();
  }
  &__textarea {
    padding: 32px 0;
  }
  &__fixed {
    position: fixed;
    z-index: 1;
    right: $wind;
    bottom: $wind;
    left: $wind;
  }
}
