/*
 * @Author: czy0729
 * @Date: 2019-08-09 17:58:41
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-08-12 12:02:00
 */
@import '@styles/theme';

.page-detail__photos {
  position: relative;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    position: absolute;
    z-index: 1;
    right: 32px;
    bottom: 32px;
    min-width: 58px;
    padding: 0 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 40px;
  }
  &__image-wrap {
    position: relative;
  }

  &__tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: auto;
    height: 40px;

    &-dot {
      position: relative;
      width: 40px;
      height: 40px;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: $color-danger;
        border: 2px solid $color-plain;
        border-radius: 12px;
        opacity: 0.8;
        transform: translate(-50%, -50%);
      }
    }
    &-angle {
      width: 12px;
      margin-left: -12px;
      border-width: 12px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
      transform: rotate(90deg);
    }
    &-text {
      position: relative;
      height: 40px;
      padding: 0 16px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 8px;
    }
    &-del {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: -46px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 8px;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
    &--reverse &-angle {
      margin-left: 0;
      margin-right: -12px;
      border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
    }
    &--reverse &-del {
      right: initial;
      left: 0;
      margin-right: 0;
      margin-left: -46px;
    }
  }
}
