/*
 * @Author: czy0729
 * @Date: 2019-07-20 11:53:36
 * @Last Modified by:   czy0729
 * @Last Modified time: 2019-07-20 11:53:36
 */
@import '@styles/theme.scss';

.page-search__history {
  padding: 56px $wind;
  margin-top: 88px;
  background-color: $color-plain;
}
