/*
 * @Author: czy0729
 * @Date: 2019-06-13 14:46:00
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-06-28 10:26:05
 */
@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.custom-tab-bar {
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: -1px;
  background-color: $color-plain;
  @include hairline-top();

  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
  &__thumb {
    width: 44px;
    height: 44px;
  }
  &__btn-plus {
    width: 60px;
    height: 60px;
    background-color: $color-main;
    border-radius: $radius-xs;

    &:active {
      opacity: 0.64;
    }
  }
}
