/*
 * @Author: czy0729
 * @Date: 2019-06-19 15:32:00
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-06-24 10:45:31
 */
@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.page-article__horizontal {
  &__scroll-view {
    overflow: hidden;
    @include eject(white-space, nowrap);
  }
  &__item {
    @include eject(position, relative);
    @include eject(display, inline-block);
    width: 460px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: $radius-sm;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);

    &--first {
      margin-left: $wind;
    }
    &--last {
      margin-right: $wind;
    }
  }
  &__info {
    padding: 30px 20px;
  }
}
