/*
 * @Author: czy0729
 * @Date: 2019-06-13 10:33:48
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-06-13 11:15:31
 */
@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.c-ipt {
  padding: 16px $wind;
  font-size: 26px;
  background-color: $color-bg;
  border-radius: 64px;
}
