/*
 * @Author: czy0729
 * @Date: 2019-07-31 12:21:21
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-08-08 14:46:15
 */
.page-photo-edit {
  background-color: #000;

  &__preview {
    position: relative;
    height: 100vh;
  }
}
