/*
 * @Author: czy0729
 * @Date: 2019-06-28 11:03:08
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-06-28 15:18:10
 */
@import '@styles/theme';

.page-preview {
  background-color: $color-plain;

  &__plan {
    padding: 200px $lg 0;
  }
  &__wrap {
    position: relative;
    width: 144px;
    height: 38px;

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 12px;
      background-color: $color-main;
      border-radius: 12px;
      opacity: 0.64;
    }
  }
  &__title {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  &__thumbs {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 32px;
  }
  &__publish {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 $wind 360px;
  }
  &__icon {
    width: 100px;
    height: 100px;
    background-color: $color-main;
    border-radius: 50px;
  }
  &__btn-close {
    position: absolute;
    left: 50%;
    bottom: $wind;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    background-color: $color-main;
    border-radius: $radius-xs;

    &:active {
      opacity: 0.64;
    }
  }
}
