/*
 * @Author: czy0729
 * @Date: 2019-06-19 15:32:13
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-09-10 10:57:15
 */
@import '@styles/theme';
@import '@styles/mixins';

.page-index__recommend {
  &__scroll-view {
    overflow: hidden;
    @include eject(white-space, nowrap);
  }
  &__item {
    @include eject(position, relative);
    @include eject(display, inline-block);
    width: 456px;
    padding: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: $radius-sm;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);

    &--first {
      margin-left: $wind;
    }
    &--last {
      margin-right: $wind;
    }
  }
  &__avatar {
    border-radius: 72px;
    overflow: hidden;
  }
}
